.first-logo {
    background: url("~assets/logo/filmi3k.gif") no-repeat;
    /*margin-right: auto;*/
    width: 100px;
    height: 100px;
    background-size: contain;
}

.second-logo {
    background: url("~assets/logo/filmi3k-loop.gif") no-repeat;
    /*margin-right: auto;*/
    width: 100px;
    height: 100px;
    background-size: contain;
}
