.first-logo {
    background: url("~assets/logo/filmi3k.gif") no-repeat;
    margin-right: auto;
    width: 150px;
    height: 100px;
    background-size: contain;
}

.second-logo {
    background: url("~assets/logo/filmi3k-loop.gif") no-repeat;
    margin-right: auto;
    width: 150px;
    height: 100px;
    background-size: contain;
}

h6 {
    color: #000000;
}
