.genres {
    display: flex;
    border-radius: 12px;
    margin-top: 50px;
    flex-wrap: nowrap;
    background: #212121;
    box-shadow: 0 0 40px #212121, 0 0 80px #212121, 0 0 120px #212121;
}

.genre:hover {
    -ms-transform: skewY(4deg); /* IE 9 */
    transform: skewY(4deg);
}

.genre a {
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    color: #00909e;
    font-size: 30px;
}

.genre a:hover {
    cursor: pointer;
    color: #FFFFFF;
}